* {
    margin: 0;
    padding: 0;;
}

body {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    background: #c3dbff;
}

/***************** NAV INICIO ******************/
.navbar {
    display: flex;
    height: 90px;
    background: rgba(255, 255, 255, 0.6);
    align-items: center;
    justify-content: space-around;
    box-shadow: 2px 2px 12px #747474; 
    position: absolute;
    width: 100%;
    z-index: 2;
    position: fixed;
}

.nav__logo {
    height: 90px;
    margin: 0 2em 0 2em;
}

.nav__lista {
    display: flex;
    padding-left: 2.5em;
}

.nav__lista li {
    list-style: none;
    letter-spacing: 2px;
    padding-left: 2em;
}

.nav__lista a {
    text-decoration: none;
    color: #000c63;
    font-weight: 700;
    transition:200ms;
}

.nav__lista a:hover {
    color: rgb(0, 51, 255);
    transition: 400ms;
}

.nav__right-button a {
    text-decoration: none;
    color: #f0f2f5;
    letter-spacing: 2px;
    margin-right: 0.5em;
    font-weight: 700;
    padding: 0.8em;
    background: #00073d;
    border-radius: 10px;
    border: 1px solid #00073d;
    transition: 200ms;
}

.nav__right-button a:last-child {
    background: transparent;
    color: #00073d;
    border: 1px solid #00073d;
    transition: 200ms;
}

.nav__right-button a:last-child:hover {
    background: #00073d;
    color: #f0f2f5;
    border: 1px solid #00073d;
    transition: 200ms;
}

.nav__right-button a:hover {
    color: #00073d;
    background: transparent;
    transition: 200ms;
}

/***************** NAV FIM ******************/

/* CARROSSEL INÍCIO */ 


.slide__txt1, .slide__txt2, .slide__txt3 {
    position: absolute;
    font-size: 60px;
    font-weight: 900;
    left: 20vw;
    top: 50vh;
    color: white;
}

.swiper {
    height: 100vh;
}

.bg-one {
    background-image: url(img/bank-page1.png);
    background-size: cover;
    background-position: top;
}

.bg-two {
    background-image: url(img/bank-page2.png);
    background-size: cover;
    background-position: top;
}

.bg-three {
    background-image: url(img/bank-page3.png);
    background-size: cover;
    background-position: top;
}

.swiper-pagination {
    margin-bottom: 2vh;
} 

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    border: 1px solid white;
}

.swiper-pagination-bullet-active {
    background: lightblue;
}

.swiper-button-prev, .swiper-button-next {
    border-radius: 5px;
    background: rgba(186, 186, 186, 0.315);
    color: darkblue;
    padding: 0 5px;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
    color: rgb(0, 136, 255);
    transition: 300ms;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 22px;
}

.swiper-button-next {
    margin-right: 70px;
}

.swiper-button-prev {
    margin-left: 70px;
} 

/********************** CARROSSEL fim ********************/

.produtos {
    background: rgb(58,64,74);
    height: 50vh;
    padding-top: 1.5em;
}

.produtos__titulo {
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    color: aliceblue;
    padding-bottom: 0.8em;
}

.produtos__cards div img {
    width: 75px;
}

.produtos__cards {
    display: flex;
    justify-content: center;
}

.produtos__cards p {
    font-size:18px;
    padding: 0 2em;
}

.card-card, .card-phone, .card-pig, .card-din {
    width: 315px;
    height: 276px;
    background: rgb(51,57,66);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    color: aliceblue;
    transition: all 300ms ease-in;
    margin: 1em;
}

.card-card:hover, .card-phone:hover,
.card-pig:hover, .card-din:hover{
    background: #4a97a6;
    color: #000635;
}

/* MID CARROSSEL */

.mid-page-swiper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 70vw;
    height: 60vh;
    align-items: center;
}

.mid-page-swiper__txt h1 {
    font-size: 60px;
}

.mid-page-swiper__txt p {
    margin-bottom: 2em;
}

.mid-page-swiper__txt a {
    text-decoration: none;
    color: darkblue;
    padding: 0.8em;
    background: transparent;
    border-radius: 10px;
    border: 1px solid black;
    letter-spacing: 2px;
    transition: 300ms;
}

.mid-page-swiper__txt a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0.8em;
    background: black;
    border-radius: 10px;
    border: 1px solid black;
}


.mid-swiper {
    height: 320px;
    width: 700px;
    background: transparent;
}

.swiper-3d .swiper-slide-shadow {
    background: transparent;
}

.card-one, .card-two, .card-three {
    text-align: center;
}

.mid-swiper .swiper-button-prev, .mid-swiper .swiper-button-next {
    color: rgb(0, 0, 0);
}

/* MID CARROSSEL FIM */