* {
    margin: 0;
    padding: 0;;
}

body {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    background: #c3dbff;
}

/***************** NAV INICIO ******************/
.navbar {
    display: flex;
    height: 70px;
    background: #f0f2f5;
    align-items: center;
    justify-content: space-around;
    box-shadow: 2px 2px 12px #747474;
}

.nav__logo {
    height: 70px;
    margin: 0 2em 0 2em;
}

.nav__lista {
    display: flex;
    padding-left: 2.5em;
}

.nav__lista li {
    list-style: none;
    letter-spacing: 2px;
    /* padding-right: 1em; */
    padding-left: 2em;
}

.nav__lista a {
    text-decoration: none;
    color: #000c63;
    font-weight: 700;
}

.nav__right-button a {
    text-decoration: none;
    color: #f0f2f5;
    letter-spacing: 2px;
    margin-right: 0.5em;
    font-weight: 700;
    padding: 0.8em;
    background: #00073d;
    border-radius: 10px;
    border: 1px solid #00073d;
    transition: 200ms;
}

.nav__right-button a:last-child {
    background: transparent;
    color: #00073d;
    border: 1px solid #00073d;
    transition: 200ms;
}

.nav__right-button a:last-child:hover {
    background: #00073d;
    color: #f0f2f5;
    border: 1px solid #00073d;
    transition: 200ms;
}

.nav__right-button a:hover {
    color: #00073d;
    background: transparent;
    transition: 200ms;
}

/***************** NAV FIM ******************/

/* CARROSSEL INÍCIO */ 

.carrossel {
    display: flex;
    height: 95vh;
    width: 100%;
    max-width: 2600px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.bg-one {
    background-image: url(img/bank-page1.png);
    background-size: cover;
}

.bg-two {
    background-image: url(img/bank-page2.png);
    background-size: cover;
}

.bg-three {
    background-image: url(img/bank-page3.png);
    background-size: cover;
}

.swiper {
    height: 95vh;
}

.swiper-slide {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-pagination {
    margin-bottom: 4vh;
} 

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    border: 1px solid white;
}

.swiper-pagination-bullet-active {
    background: transparent;
}

.swiper-button-prev, .swiper-button-next {
    border-radius: 5px;
    background: rgba(186, 186, 186, 0.315);
    color: darkblue;
    padding: 0 5px;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
    color: rgb(0, 136, 255);
    transition: 300ms;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 22px;
}

.swiper-button-next {
    margin-right: 70px;
}

.swiper-button-prev {
    margin-left: 70px;
} 

/********************** CARROSSEL fim ********************/


@media screen and (max-width: 1440px) {
    .slider-img {
        width: 1200px;
        height: 675px;
    }
}

@media screen and (max-width: 1920px) and (min-width: 1900px) {
    .slider-img {
        width: 1600px;
        height: 900px;
    }
}  